td {
  min-width: 30px;
  border: 1px solid black;
}

td.checked {
  background-color: #ccc;
}

td.marked {
  background-color: red;
}

.hint-col > p {
  text-align: center;
}

.hint-row {
  text-align: center;
}
.hint-row > span {
  padding: 0px 3px;
}
